
body {
    background-color: beige;
}

h1 { 
    margin-left: 400px;
    padding-top: 20px;
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:800;
}

.formulario {
    width: 400px;
    margin-left: 300px;

}

form input {
    display: inline;
    width: 400px;
    padding: 10px 0px; 
}

fieldset { border: none;}

fieldset input { width: 30px; }

label { font-size: larger; }

input {
    font-size: 16pt;
    width: 400px;
    display:block;
}

textarea {
    display: flex;
    width: 400px;
}

#botao {
    position: absolute;
    width: auto;
    font-size: 12pt;
    font-weight: bold;
    margin-left: 130px;
    background-color:darkkhaki;
    margin-top: 10px;
    padding: 3px 2px;
}
